.videoContainer {
  width: 100%;
  position: relative;
  .screen {
    width: 100%;
  }
  .videoControls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.showing {
      opacity: 1;
    }
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #0f1117;
    border-radius: 10px;
    box-sizing: border-box;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0px auto;
    padding: 15px;
    .videoControls__timeline {
      width: 100%;
      margin-bottom: 10px;
      input {
        width: 100%;
      }
    }
    .videoControls__btn {
      width: 100%;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 4fr 8fr 20fr auto;
      gap: 10px;
      .videoControls__btn-play {
        font-size: 20px;
      }
      .videoControls__btn-volume {
        display: flex;
        align-items: center;
        span {
          margin-right: 10px;
          i {
            font-size: 20px;
          }
        }
      }
      .videoControls__btn-time {
        font-size: 15px;
      }
      .videoControls__btn-fullscreen {
        font-size: 20px;
      }
    }
  }
}
